# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Virtual environments
venv/
env/

# Log files
*.log

# Data cache
*.csv
!data/*.csv  # allow datasets in data folder
